<div id="main-wrapper">
   <app-header></app-header>

     <!-- Información de la aplicación (contenido) -->
     <div class="page-wrapper">
      <div class="container-fluid">

        <!-- renderiza rutas -->
        <router-outlet></router-outlet> 

      </div>
  
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
          © 2021 Zeus
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
</div>